<div class="offcanvas-header">
    <div class="card-header">
        <h5 class="mb-0"> Add New Invoice Types</h5>
    </div>
    <button class="btn-close text-reset" type="button" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
    <div class="col-lg-12 ps-lg-2 mb-3">
        <div class="row g-0 h-100 align-items-stretch">
            <div class="col-lg-12 mb-3">
                <div class="pb-0">
                    @*  <a class="mb-4 d-block d-flex align-items-center" 
                        href="#experience-form" data-bs-toggle="collapse" 
                        aria-expanded="true" aria-controls="experience-form">
                        <span class="circle-dashed"><span class="fas fa-plus"></span></span>
                        <span class="ms-3">Add new Invoice Type</span></a> *@
                    @*    <h6>Add new Invoice Type</h6> *@

                    <div class="collapse show" id="experience-form">
                        <form id="invoiceTypeForm">
                            <input type="hidden" id="InvoiceTypeId" name="InvoiceTypeId" />
                            <input type="hidden" id="InvoiceTypeKey" name="InvoiceTypeKey" />
                            <input type="hidden" id="EntryDateTime" name="EntryDateTime" />
                            <input type="hidden" id="EntryBy" name="EntryBy" />

                            <input type="hidden" id="Status" name="Status" />
                            <div class="row">
                                <div class="col-3 mb-3 text-lg-end">
                                    <label class="form-label fw-semi-bold" for="InvoiceTypeName">Invoice Type Name<span class="error-star">*</span></label>
                                </div>
                                <div class="col-9 col-sm-7 mb-3">
                                    <input type="text" class="form-control form-control-sm form-rounded" id="InvoiceTypeName" name="InvoiceTypeName" />
                                    <span class="text-danger" id="InvoiceTypeNameError"></span>
                                </div>
                                <div class="col-9 col-sm-7 offset-3">
                                    <button class="btn btn-primary" type="button" onclick="saveOrUpdate()">Save</button>
                                </div>
                            </div>
                        </form>
                        <div class="border-dashed-bottom my-4"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>