@using Domain.Entity.Settings
@using Domain.ViewModel
 @model IEnumerable<InvoiceType>
<div class="offcanvas offcanvas-end" id="offcanvasRight" tabindex="-1" aria-labelledby="offcanvasRightLabel">
    @await Html.PartialAsync("_Create")
</div>


<div class="card mb-3" id="customersTable" >
    <div class="card-header">
        <div class="row flex-between-center">
            <div class="col-4 col-sm-auto d-flex align-items-center pe-0">
                <h5 class="fs-9 mb-0 text-nowrap py-2 py-xl-0">Customers</h5>
                <div class="row mb-3">
                    <div class="col-md-4">
                        <div class="input-group">
                            <input type="text" id="searchInput" class="form-control" placeholder="Search (Press Enter to search)" value="">
                            <div class="input-group-append">
                                <span class="input-group-text clear-icon" id="clearSearch" style="display: none; cursor: pointer;">✖</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  
            <div class="col-8 col-sm-auto text-end ps-2">
                <div class="d-none" id="table-customers-actions">
                    <div class="d-flex">
                        <select class="form-select form-select-sm" aria-label="Bulk actions">
                            <option selected="">Bulk actions</option>
                            <option value="Refund">Refund</option>
                            <option value="Delete">Delete</option>
                            <option value="Archive">Archive</option>
                        </select>
                        <button class="btn btn-falcon-default btn-sm ms-2" type="button">Apply</button>
                    </div>
                </div>
                <div id="table-customers-replace-element">
                    <button class="btn btn-falcon-default btn-sm" type="button" data-bs-toggle="offcanvas"
                            data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                        <span class="fas fa-plus" data-fa-transform="shrink-3 down-2"></span><span class="d-none d-sm-inline-block ms-1">New</span>
                    </button>
                    <button class="btn btn-falcon-default btn-sm mx-2" type="button"><span class="fas fa-filter" data-fa-transform="shrink-3 down-2"></span><span class="d-none d-sm-inline-block ms-1">Filter</span></button>
                    <button class="btn btn-falcon-default btn-sm" type="button"><span class="fas fa-external-link-alt" data-fa-transform="shrink-3 down-2"></span><span class="d-none d-sm-inline-block ms-1">Export</span></button>
                </div>
            </div>
        </div>
    </div>
    <div id="tableContainer">
          @await Html.PartialAsync("_InvoiceList", new InvoiceTypeViewModel { InvoiceTypes = Model.ToList(), CurrentPage = 1, TotalPages = 1, PageSize = 10, TotalRecords = Model.Count() })
    </div>
  
      
  
</div>


<script type="text/javascript">
    // let currentPage = 1;
    //let pageSize = 5;
    let search = '';
    let sortColumn = 'InvoiceTypeId';
    let sortDirection = 'asc';

    window.loadTable= function () {
        $.ajax({
            url: '@Url.Action("LoadTable", "InvoicType")',
            type: 'GET',
            data: {
                page: currentPage,
                pageSize: pageSize,
                search: search,
                sortColumn: sortColumn,
                sortDirection: sortDirection
            },
            success: function (response) {
                $('#tableContainer').html(response);
                bindEvents(); // Rebind events after updating the table
            },
            error: function () {
                alert('Error loading table data.');
            }
        });
    }

    function bindEvents() {
        // Pagination click
        $('.page-link').on('click', function (e) {
            e.preventDefault();
            const page = $(this).data('page');
            if (page && !$(this).parent().hasClass('disabled')) {
                currentPage = page;
                loadTable();
            }
        });

        // Sorting click on <th>
        $('.sort-th').on('click', function (e) {
            e.preventDefault();
            sortColumn = $(this).data('column');
            sortDirection = $(this).data('direction');
            loadTable();
        });
    }

    // Search input
    // $('#searchInput').on('keyup', function () {
    //     search = $(this).val();
    //     currentPage = 1; // Reset to first page on search
    //     loadTable();
    // });
    // Search on Enter key
    $('#searchInput').on('keypress', function (e) {
        if (e.which === 13) { // Enter key
            search = $(this).val();
            currentPage = 1; // Reset to first page on search
            loadTable();
        }
    });
    // Remove data function (unchanged)

    // Show/hide clear icon and handle input changes
    $('#searchInput').on('input', function () {
        const value = $(this).val();
        if (value.length > 0) {
            $('#clearSearch').show();
        } else {
            $('#clearSearch').hide();
            // Auto-refresh to page 1 when input is cleared
            if (search !== '') { // Only refresh if there was a previous search
                search = '';
                currentPage = 1;
                loadTable();
            }
        }
    });

    // Clear search on icon click
    $('#clearSearch').on('click', function () {
        $('#searchInput').val('');
        $(this).hide();
        search = '';
        currentPage = 1;
        loadTable();
    });

    function RemoveData(id) {
        Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: '@Url.Action("RemoveData", "Driver")?id=' + id,
                    type: 'GET',
                    success: function (response) {
                        if (response) {
                            Swal.fire(
                                'Deleted!',
                                'Your file has been deleted.',
                                'success'
                            ).then(() => {
                                loadTable(); // Refresh table after delete
                            });
                        } else {
                            Swal.fire(
                                'Error!',
                                'Something went wrong.',
                                'error'
                            );
                        }
                    },
                    error: function () {
                        Swal.fire(
                            'Error!',
                            'Something went wrong.',
                            'error'
                        );
                    }
                });
            }
        });
    }

    // Initial binding of events
    $(document).ready(function () {
        bindEvents();
        loadTable();
    });
</script>